@mixin shaded-tile {
	background: 
		//linear-gradient(0deg, rgb(255, 144, 0) 0%, rgba(255, 181, 9, 0) 10%),
		linear-gradient(90deg, rgb(255, 144, 0) 0%, rgba(255, 181, 9, 0) 10%),
		linear-gradient(180deg, rgb(255, 144, 0) 0%, rgba(255, 181, 9, 0) 10%),
		//linear-gradient(270deg, rgb(255, 144, 0) 0%, rgba(255, 181, 9, 0) 10%),
		orange
	;
	border: 1px solid #ed9700;
	color: white;
}

$stripe-1-width: 2px;
$stripe-2-width: $stripe-1-width;
$stripe-1-col: rgba(0,0,0, 0.1);
$stripe-2-col: transparent;
$angle: 135deg;

html {
	min-height: 100%;
	background-image: repeating-linear-gradient($angle, 
		$stripe-1-col, $stripe-1-col $stripe-1-width, 
		$stripe-2-col $stripe-1-width, $stripe-2-col $stripe-1-width + $stripe-2-width)
	;
	background-color: #ffca00;
}
ol {
	border-radius: 5px;
	
	background: #ffc513;
	border: 1px solid #f4b312;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0, 0.5) inset;
}
ol li {
	border-radius: 5px;
	
	@include shaded-tile;
	
	font-family: Verdana, sans-serif;
	font-weight: bold;
	font-size: 40px;
	text-shadow: 0px 0px 2px rgba(0,0,0, 1);
}
button {
	border-radius: 5px;
	
	@include shaded-tile;
}
button svg path {
	fill: #fdfb77;
	stroke: #c58c12;
	stroke-width: 0.3px;
}
button:disabled {
	opacity: 0.4;
}
button:active:not(:disabled) {
	background: 
		linear-gradient(0deg, rgb(255, 144, 0) 0%, rgba(255, 181, 9, 0) 10%),
		linear-gradient(270deg, rgb(255, 144, 0) 0%, rgba(255, 181, 9, 0) 10%),
		orange
	;
}
