@import 'normalize.css';

$array-length: 10;
$array-slot-size: 80px;
$padding: 3px;

ol {
	list-style: none;
	margin: 40px auto;
	padding: $padding;
	
	position: relative;
	height: $array-slot-size;
	width: $array-slot-size * $array-length;
}

ol li {
	box-sizing: border-box;
	width: $array-slot-size;
	height: $array-slot-size;
	text-align: center;
	
	line-height: $array-slot-size;
	
	position: absolute;
	top: $padding;
	transition: left 1s;
}

@for $i from 1 through $array-length {
	ol li.pos-#{$i} {
		left: $padding + ($i - 1) * $array-slot-size;
	}
}

p {
	text-align: center;
}
button {
	-webkit-appearance: none;
	
	display: inline-block;
	padding: 0;
	font-size: 0;
}
button svg {
	width: $array-slot-size;
	height: $array-slot-size;
	
	transition: transform 0.1s linear;
}
button:active:not(:disabled) svg {
	transform: rotate(-90deg);
}
//button:disabled:active  svg {
//	transform: rotate(0deg);
//}
button:focus {
	outline: none;
}

@import 'skin';