@import url(http://codebase.dev/normalize/normalize.css);

$array-length: 10;
$array-slot-size: 40px;
$padding: 3px;

body {
	background: #ffff00;
}

ol {
	list-style: none;
	margin: 40px auto 20px;
	padding: $padding;
	
	position: relative;
	height: $array-slot-size;
	width: $array-slot-size * $array-length;
	
	background: #ffc513;
	border-radius: 5px;
	border: 1px solid #f4b312;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0, 0.5) inset;
}
ol li {
	box-sizing: border-box;
	position: absolute;
	top: $padding;
	width: $array-slot-size;
	height: $array-slot-size;
	line-height: $array-slot-size;
	text-align: center;
	background: orange;
	color: white;
	font-weight: bold;
	border-radius: 5px;
	/* margin: 2px; */
	border: 1px solid #ed9700;
	font-family: georgia;
	
	transition: left 1s;
}

ol li.moving {
	z-index: 2;
}

@for $i from 1 through $array-length {
	ol li.pos-#{$i} {
		left: $padding + ($i - 1) * $array-slot-size;
	}
}

p {
	text-align: center;
}
button {
	display: inline-block;
	/* width: 100px;
	height: 100px;
	border-radius: 50%; */
	border-radius: 5px;
	font-family: verdana;
	text-transform: uppercase;
	background: orange;
	color: #fff;
	padding: 5px 10px;
	border: none;
}