@import url(http://codebase.dev/normalize/normalize.css);

/* 
 * Text meant only for screen readers 
 */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
}
.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #fff;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.6) 2px 2px 10px;
  clip: auto !important;
  display: inline-block;
  font-weight: 600;
  line-height: 24px;
  padding: 24px;
  z-index: 100000;
  position: absolute !important;
  top: 24px;
  left: 24px;
}

$array-length: 10;
$array-slot-size: 80px;
$padding: 3px;

body {
	background: #ffff00;
}

ol {
	list-style: none;
	margin: 40px auto 20px;
	padding: $padding;
	
	position: relative;
	height: $array-slot-size;
	width: $array-slot-size * $array-length;
	
	background: #ffc513;
	border-radius: 5px;
	border: 1px solid #f4b312;
	box-shadow: 1px 1px 1px 0px rgba(0,0,0, 0.5) inset;
}

@mixin tile {
	box-sizing: border-box;
	width: $array-slot-size;
	height: $array-slot-size;
	text-align: center;
	
	border-radius: 5px;
	border: 1px solid;
	
	background: orange;
	border-color: #ed9700;
	color: white;
}

ol li {
	@include tile;
	line-height: $array-slot-size;
	
	position: absolute;
	top: $padding;
	transition: left 1s;
	
	font-family: georgia;
	font-weight: bold;
	font-size: 40px;
}

ol li.moving {
	z-index: 2;
}

@for $i from 1 through $array-length {
	ol li.pos-#{$i} {
		left: $padding + ($i - 1) * $array-slot-size;
	}
}

p {
	text-align: center;
}
button {
	display: inline-block;
	
	@include tile;
}
button svg {
	width: 60px;
	height: 60px;
}
button svg path {
	fill: #fff;
}
button svg {
	transform: rotate(0deg);
	transition: transform 0.5s;
}
button:active  svg {
	transform: rotate(-360deg);
}
button:focus {
	outline: none;
}
